body {
    background-color: rgb(67, 173, 212);
}
h1{font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

legend{ font-family: Georgia, 'Times New Roman', Times, serif;
  
}



